@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#News" data-toggle="tab">新闻信息发布授权</a>
            </li>
            <li><a href="#Notice" data-toggle="tab">园区公告发布授权</a></li>
            <li><a href="#Advent" data-toggle="tab">广告信息发布授权</a></li>
            <li><a href="#Policy" data-toggle="tab">政策信息发布授权</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="News">
                <p>
                    新闻信息发布授权
                </p>
            </div>
            <div class="tab-pane fade" id="Notice">
                <p>
                    园区公告发布授权
                </p>
            </div>
            <div class="tab-pane fade" id="Advent">
                <p>
                    广告信息发布授权
                </p>
            </div>
            <div class="tab-pane fade" id="Policy">
                <p>
                    政策信息发布授权
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<script type="text/javascript">
</script>