@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>闵行智慧园区</title>
    <style type="text/css">
        .login {
            width: 100px;
            height: 40px;
            position: absolute;
            top: 25%;
            right: 23%;
        }
    </style>
</head>
<body>
    <div style="text-align:center;" class="imgdiv">
        <img src="~/img/main.jpg" />
        <div class="login"></div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script type="text/javascript">
    $(".login").click(function () {
        location.href = "../../Main/Login/";
    })
</script>
