@{
    ViewBag.Title = "入口";
    Layout = "~/Views/Shared/_ch.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RuKou</title>
    <style type="text/css">
       

        .app {
            position: fixed;
            top: 5%;
            left: 40%;
            display: none;
        }

        .shang, .zhong, .xia, .guan, .shen, .xiang {
            width: 350px;
            height: 210px;
            position: absolute;
        }

        .shang {
            top: 6.5%;
        }

        .zhong {
            top: 37.7%;
        }

        .xia {
            bottom: 0;
        }

        .guan {
            top: 0;
            right: 0;
            height: 45px;
            width: 45px;
        }

        .shen {
            height: 250px;
            top: 32%;
            display: none;
        }

        .xiang {
            z-index: 999;
            top: 6.5%;
            display: none;
        }

        .modal-dialog {
            width: 80%;
        }

            .modal-dialog .modal-body {
                text-align: center;
            }

        .btn-group .dropdown-menu {
            width: 100%;
            text-align: center;
        }

        .wxbg {
            position: fixed;
            top: 2%;
            left: 40%;
            display: none;
            background-color: black;
            width: 200px;
        }

        .wxsh {
            position: absolute;
            top: 15%;
            left: 10%;
            width: 50px;
            height: 30px;
            display: none;
        }

        .wxzuo {
            position: absolute;
            bottom: 13%;
            left: 32%;
            width: 70px;
            height: 40px;
            z-index: 99;
        }

        .wxzh {
            position: absolute;
            bottom: 13%;
            left: 68%;
            width: 70px;
            height: 40px;
            z-index: 99;
        }

        .wxyou {
            position: absolute;
            bottom: 14%;
            left: 108%;
            width: 70px;
            height: 40px;
            z-index: 99;
        }

        .btn {
            border: none;
            border-radius: initial;
        }

        .quan {
            width: 310px;
            height: 150px;
            margin: 5px;
        }

        .ban {
            width: 150px;
            height: 150px;
            margin: 5px;
            padding: 0;
        }

        .quan, .ban {
            font-size: 30px;
            color: white;
            font-weight: 900;
            font-family: "黑体";
        }

            .quan, :hover, .ban:hover {
                color: white;
            }

        .btn-default {
            background-color: #ccc;
        }

        .imgdzkb {
            position: fixed;
            width: 70%;
            top: 2%;
            left: 15%;
            display: none;
        }
         .imgjiagou {
            position: fixed;
            top: 5%;
            width:70%;
            left: 15%;
            display: none;
        }
        .divbody {
            width:760px;
            margin:0 auto;
        }

            .divbody img {
                margin-top: 5px;
                height: 630px;
            }

        .modal-body-img {
            height: 100%;
            width: 100%;
        }

        .divconter {
            width: 1000px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="divbody">
        <img src="~/img/gyy.jpg"  />
        <div class="pull-right">
            <button class="btn btn-default quan">门户</button><br />
            <button class="btn btn-primary ban" data-toggle="modal" data-target="#myModal">后台</button>
            <button class="btn btn-success ban">APP</button><br />
            <button class="btn btn-info quan">微信</button><br />
            <button class="btn btn-warning ban">架构</button>
            <button class="btn btn-default ban">电子看板</button><br />
        </div>
    </div>
    <div class="wxbg">
        <img src="~/img/weixin.jpg" class="imgweixin" />
        <div class="wxsh"></div>
        <div class="wxzuo err" tg="02"></div>
        <div class="wxzh err" tg="03"></div>
        <div class="wxyou err" tg="04"></div>
    </div>
    <img src="~/img/NewFolder2/jiagou.jpg" class="imgjiagou " />
    <img src="~/img/dzkb.jpg" class="imgdzkb " />
    @*app*@
    <div class="app">
        <img src="~/img/NewFolder1/01.jpg" />
        <div class="shang"></div>
        <div class="zhong"></div>
        <div class="xia"></div>
        <div class="guan"></div>
        <div class="shen er"></div>
        <div class="xiang er"></div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">证卡后台管理</h4>
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            信息采集
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" tg="01">人员信息采集</a></li>
                            <li><a href="#" tg="02">车辆信息采集</a></li>
                            <li><a href="#" tg="03">物品信息采集</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            系统设定
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" tg="04">业主信息设定</a></li>
                            <li><a href="#" tg="05">用户信息设定</a></li>
                            <li><a href="#" tg="06">权限配置设定</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            证卡管理
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" tg="07">电子标签登录</a></li>
                            <li><a href="#" tg="08">证卡分发</a></li>
                            <li><a href="#" tg="09">挂失补办</a></li>
                            <li><a href="#" tg="10">证卡报废</a></li>
                            <li><a href="#" tg="11">证卡信息查询</a></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-body">
                    <img src="~/img/NewFolder2/01.JPG" class="modal-body-img" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script type="text/javascript">
    $("button").click(function () {
        var str = $(this).html();
        if (str == "门户") {
            location.href = "../../main/main";
        } else if (str == "微信") {
            $(".wxbg").show().click(function () {
                $(".imgweixin").click(function () {
                    if ($(this).parent().children().eq(0).attr("src") == "/img/weixin.jpg" || $(this).parent().children().eq(0).attr("src") == "../../img/weixin.jpg") {
                        $(this).parent().hide();
                    }
                })

            })

            $(".wxbg").find("div").click(function () {
                var str = $(this).attr("tg");
                $(this).parent().children().eq(0).attr("src", "../../img/weixin" + str + ".png");
                if (str != "02") $(this).parent().find(".err").hide();
                $(".wxsh").show().click(function () {
                    $(this).parent().children().eq(0).attr("src", "../../img/weixin.jpg");
                    $(this).hide().parent().children().show();
                })
            })

        } else if (str == "APP") {
            $(".app").show().children().click(function () {
                var str = $(this).attr("class");
                if (str == "shang") {
                    $(this).parent().children().eq(0).attr("src", "../../img/NewFolder1/06.png");
                    $(".shen").show().click(function () {
                        $(this).parent().children().eq(0).attr("src", "../../img/NewFolder1/02.jpg");
                        $(".xiang").show().click(function () {
                            $(this).parent().children().eq(0).attr("src", "../../img/NewFolder1/04.jpg");
                        })
                    });
                } else if (str == "zhong") {
                    $(this).parent().children().eq(0).attr("src", "../../img/NewFolder1/03.jpg");
                    $(".xiang").show().click(function () {
                        $(this).parent().children().eq(0).attr("src", "../../img/NewFolder1/04.jpg");
                    })
                }
            })
        } else if (str == "架构") {
            $(".imgjiagou").show().click(function () {
                $(this).hide();
            })
        } else if (str == "电子看板") {
            $(".imgdzkb").show().click(function () {
                $(this).hide();
            })
        }
    })

    $(".guan").click(function () {
        $(this).parent().hide();
        $(this).parent().children().eq(0).attr("src", "../../img/NewFolder1/01.jpg");
        $(this).parent().children(".er").hide();
    })
    //后台
    $("#myModal").find("a").click(function () {
        var tg = $(this).attr("tg");
        $(".modal-body-img").attr("src", "../../img/NewFolder2/" + tg + ".JPG");
    })
</script>
